#carousel{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: top;
    justify-content: space-between;
    gap: 10px;
}

#carousel > img{
    width: 100%;
    border-radius: 30px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

#carousel > img:hover{
    cursor: zoom-in;
}

#carousel .carouselRight{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 30%;
    height: 100%;
    gap: 10px;
}

#carousel .carouselRight img{
    width: 100%;
    border-radius: 10px;
}

#imagePopup{
    position: fixed;
}
