/********** Fonts definitions & imports *********/
@font-face {
    font-family: "Overpass";
    font-style: normal;
    src: url("../assets/fonts/Overpass/Overpass-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Overpass";
    font-style: italic;
    src: url("../assets/fonts/Overpass/Overpass-Italic-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter/Inter-VariableFont.ttf");
}

@font-face {
    font-family: "Roboto";
    font-weight: 300;
    src: url("../assets/fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
}

/************* Variables definitions ************/
:root {
    /****** Graphical charter colors ******/
    --main-color-marron-bois: #1F120B;
    --main-color-orange-ensoleille: #DB7F13;
    --main-color-jaune-ensoleille: #FAFF01;
    --main-color-vert-feuillage: #117C3C;
    --main-color-rouge-annulation: #CB5747;
    --main-color-vert-validation: #17AA52;
    --main-color-gris-bloque: #B1A39B;
    --main-color-blanc-muguet: #FFFCFB;
    --main-color-blanc-champignon: #FFFAF8;
    --main-color-blanc-lichen: #F4ECE7;

    /********** Hover variations **********/
    --main-color-hover-orange-ensoleille: #F58E15;
    --main-color-hover-marron-bois: #382214;
    --main-color-hover-rouge-annulation: #E56250;
    --main-color-hover-vert-validation: #1BC45F;

    /********* Colors with filter *********/
    --main-color-filter-orange-ensoleille: invert(59%) sepia(72%) saturate(1931%) hue-rotate(355deg) brightness(89%) contrast(91%);
    --main-color-filter-marron-bois: invert(8%) sepia(6%) saturate(5175%) hue-rotate(337deg) brightness(98%) contrast(93%);
    --main-color-filter-gris-bloque: invert(94%) sepia(2%) saturate(2527%) hue-rotate(322deg) brightness(74%) contrast(81%);

    /*********** Shadow effects ***********/
    --main-shadow-classic: 0px 4px 5px rgba(0, 0, 0, 0.2);
    --main-shadow-classic-hover: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
    --main-shadow-modal: 0px 4px 12px rgba(0, 0, 0, 0.25);
    --main-shadow-pressed: inset 0px 0px 8px rgba(0, 0, 0, 0.4);

    /********** Transition curves *********/
    --main-bezier: cubic-bezier(0.8, 0.17, 0.25, 0.81);

    /********* Fonts & typography *********/
    --main-important-language: "Overpass";
    --main-content-language: "Overpass";
    --main-interaction-language: "Roboto";

    /************* Fonts uses *************/
    --main-title-language: var(--main-important-language);
    --main-text-language: var(--main-content-language);
    --main-clickable-language: var(--main-interaction-language);
    --main-input-language: var(--main-interaction-language);
    --main-link-language: var(--main-content-language);

    /************ Fonts weight ************/
    --main-weight-extraLight: 200;
    --main-weight-light: 300;
    --main-weight-regular: 400;
    --main-weight-medium: 500;
    --main-weight-semiBold: 600;
    --main-weight-bold: 700;
}

/************ Main elements - Common ************/
* {
    margin: 0;
    padding: 0;
    font-family: var(--main-content-language);
    color: var(--main-color-marron-bois);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    border: none;
}

body {
    background-color: var(--main-color-blanc-muguet);
    overflow-x: hidden;
}

/**************** Texts & titles ****************/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--main-weight-semiBold);
    font-family: var(--main-title-language);
    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
}

h1 {
    font-size: 40px;
    margin: 15px 0;
}

h2 {
    font-size: 35px;
    margin: 12px 0;
}

h3 {
    font-size: 28px;
    margin: 10px 0;
}

h4 {
    font-size: 25px;
    margin: 5px 0;
    font-weight: var(--main-weight-medium);
}

p,
pre,
a,
label,
dfn {
    font-weight: var(--main-weight-regular);
    font-family: var(--main-text-language);
}

p,
dfn,
strong {
    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
}

label,
button,
a[type="button"],
input[type="submit"] {
    font-size: 25px;
}

pre{
    display: inline;
}

pre,
p {
    font-size: 20px;
}

p.number {
    font-family: var(--main-input-language);
}

strong {
    font-weight: var(--main-weight-semiBold);
}

dfn {
    /* Définition d'un élément */
    font-size: 17px;
    font-weight: var(--main-weight-light);
    font-style: italic;
}

figure{
    color: var(--main-color-rouge-annulation);
    font-style: italic;
}

/******************** Tables ********************/
table {
    background-color: var(--main-color-blanc-muguet);
    border-spacing: 1px;
}

thead tr,
thead tr th {
    background-color: var(--main-color-orange-ensoleille);
    color: var(--main-color-blanc-muguet);
}

th,
td {
    padding: 10px 20px;
}

tr:nth-child(odd) {
    background-color: var(--main-color-blanc-champignon);
}

tr:nth-child(even) {
    background-color: var(--main-color-blanc-lichen);
}

/************* Sections & boundaries ************/
hr {
    width: 100%;
    margin: 20px 0;
    color: var(--main-color-marron-bois);
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

.box {
    padding: 20px;
    border-radius: 30px;
    background-color: var(--main-color-blanc-muguet);
    box-shadow: var(--main-shadow-modal);
}

/*************** Disabled elements **************/
input[type="text"]:disabled,
input[type="password"]:disabled,
textarea:disabled,
.checkBox:is(.disabled) div:first-of-type {
    outline: 2px solid var(--main-color-gris-bloque);
    outline-offset: -2px;
}

/* TODO: GARDER ? */
.checkBox:is(.disabled) div:first-of-type {
    background-color: var(--main-color-gris-bloque);
}

input[type="text"]:not(.inputShadow):disabled:hover,
input[type="password"]:not(.inputShadow):disabled:hover,
textarea:disabled:hover,
.checkBox:is(.disabled):hover div:first-of-type {
    outline: 2px solid var(--main-color-gris-bloque);
    outline-offset: -2px;
    cursor: default;
}

.inputIcon:is(.inputShadow:hover) input[type="text"],
.inputIcon:is(.inputShadow:hover) input[type="password"] {
    outline: none;
}

.checkBox:is(.disabled):hover,
.checkBox:is(.disabled) label:hover {
    cursor: default;
}

button:disabled:is(:disabled),
button:disabled:hover,
button:disabled:active,
.select:is(.disabled)>.selectTitle,
.select:is(.disabled):hover>.selectTitle,
a[type="button"],
a[type="button"].disabled,
a[type="button"].disabled:hover,
a[type="button"].disabled:hover label {
    background-color: var(--main-color-gris-bloque);
    box-shadow: none;
    cursor: default;
}

.select:is(.disabled)>.selectTitle:hover>label,
.select:is(.disabled)>.selectTitle:hover>img {
    cursor: default;
}

.inputShadow.inputIcon.disabled img,
.inputIcon.disabled img,
.inputPassword:is(.inputIcon).disabled img,
.inputPassword:not(.inputIcon).disabled img {
    filter: var(--main-color-filter-gris-bloque);
}

.inputPassword.disabled img.seePassword:hover{
    cursor: default;
}

/********* Input & clickeable - General *********/
a,
input,
button,
textarea,
.checkBox div:first-of-type,
.select,
.selectTitle>label,
a[type="button"],
a[type="button"]>label,
input[type="submit"],
input[type="text"]:is(.inputShadow),
.inputIcon:is(.inputShadow) input[type="text"],
input[type="password"]:is(.inputShadow),
.inputIcon:is(.inputShadow) input[type="password"] {
    font-family: var(--main-clickable-language);
    transition-duration: 200ms;
    transition-timing-function: var(--main-bezier);
    border-radius: 10px;
    cursor: pointer;
}

input::placeholder,
textarea::placeholder {
    font-weight: var(--main-weight-light);
    color: var(--main-color-gris-bloque);
}

input[type="text"],
input[type="number"],
input[type="phone"],
input[type="mail"],
input[type="password"],
textarea,
.checkBox div:first-of-type {
    outline: 2px solid var(--main-color-orange-ensoleille);
    outline-offset: -2px;
    font-size: 20px;
}

input[type="text"]:hover,
input[type="number"]:hover,
input[type="phone"]:hover,
input[type="mail"]:hover,
input[type="password"]:hover,
textarea:hover {
    cursor: text !important;
}

.select,
.selectTitle>label,
button,
a[type="button"]>label {
    color: var(--main-color-blanc-muguet);
}

input[type="text"]:hover,
input[type="text"]:focus,
input[type="mail"]:hover,
input[type="mail"]:focus,
input[type="password"]:hover,
input[type="password"]:focus,
input[type="number"]:hover,
input[type="number"]:focus,
.checkBox:hover div:first-of-type,
textarea:hover,
textarea:focus {
    outline: 3px solid var(--main-color-orange-ensoleille);
    outline-offset: -3px;
}

/******************* Textarea *******************/
textarea {
    padding: 20px;
    resize: none;
}

/****************** Text input ******************/
input[type="text"],
input[type="password"],
input[type="number"],
input[type="phone"],
input[type="mail"] {
    padding: 10px 15px;
    /* Change width ? */
    width: calc(100% - 30px);
}

/* TODO0: Change cursor for disabled inputs */
input:disabled:hover,
.inputIcon.disabled:hover {
    cursor: default !important;
}

/******** Text input with icon ********/
.inputIcon {
    display: flex;
    align-items: center;
    /* Change width ? */
    width: 100%;
}

.inputIcon input[type="password"],
.inputIcon input[type="text"] {
    padding-left: 35px;
    width: 100%;
}

.inputPassword:not(.inputShadow) img,
.inputIcon img {
    z-index: 10;
    width: 25px;
    height: 25px;
    /* To move the icon into input : */
    margin-left: 7px;
    margin-right: -32px;
    filter: var(--main-color-filter-orange-ensoleille);
}

/************ Shadow input ************/
input[type="text"]:is(.inputShadow),
.inputIcon:is(.inputShadow) input[type="text"],
input[type="password"]:is(.inputShadow),
.inputIcon:is(.inputShadow) input[type="password"] {
    outline: none;
    background-color: var(--main-color-blanc-champignon);
    box-shadow: var(--main-shadow-classic);
}

.inputIcon:is(.inputShadow) img {
    filter: var(--main-color-filter-marron-bois);
}

/**************** Password input ****************/
.inputPassword {
    display: flex;
    position: relative;
    align-items: center;
}

input.inputPassword {
    padding-right: 35px;
}

.inputPassword img.seePassword {
    position: absolute;
    right: 0;
    top: auto;
    bottom: auto;
    margin: 0 10px 0 0;
    width: 20px;
}

.inputPassword .seePassword:hover {
    cursor: pointer;
}

/***************** Number input *****************/
input[type="number"] {
    padding-right: 70px;
    width: calc(100% - 80px);
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/************ Buttons & input button ************/
button,
a[type="button"],
input[type="submit"] {
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 10px 50px;
    color: var(--main-color-blanc-muguet);
    gap: 15px;
}

a[type="button"] {
    padding-right: 18px;
}

a[type="button"]>label {
    color: var(--main-color-blanc-muguet);
}

button:active,
a[type="button"]:active {
    box-shadow: var(--main-shadow-pressed);
}

/************* Clickeable variations ************/
.classicButton:not(.disabled) {
    background-color: var(--main-color-orange-ensoleille);
}

.classicButton:hover {
    background-color: var(--main-color-hover-orange-ensoleille);
}

.acceptButton:not(.disabled) {
    background-color: var(--main-color-vert-validation);
}

.acceptButton:hover {
    background-color: var(--main-color-hover-vert-validation);
}

.denyButton:not(.disabled) {
    background-color: var(--main-color-rouge-annulation);
}

.denyButton:hover {
    background-color: var(--main-color-hover-rouge-annulation);
}

/********************* Links ********************/
a {
    color: var(--main-color-orange-ensoleille);
    width: fit-content;
}

a:hover {
    color: var(--main-color-hover-orange-ensoleille);
    cursor: pointer;
}

a.discreet {
    text-decoration: none;
    color: var(--main-color-gris-bloque);
}

a.discreet:hover {
    text-decoration: underline;
}

/******************** Select ********************/
.select {
    position: relative;
    height: fit-content;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 400;
    width: fit-content;
    color: var(--main-color-blanc-muguet);
    transition-duration: 300ms;
    background: none;
}

.selectActive>.selectTitle>img {
    transition-duration: 300ms;
    transform: rotate(90deg);
}

.selectInactive>.selectTitle>img {
    transition-duration: 300ms;
    transform: rotate(0deg);
}

.selectTitle {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 30px;
    gap: 15px;
    border-radius: 10px;
    transition-duration: 300ms;
    transition-timing-function: var(--main-bezier);
    justify-content: space-between;
}

.selectTitle>label,
.selectOption {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.selectTitle:hover,
.selectTitle:hover>label,
.selectTitle:hover>img {
    cursor: pointer;
}

.selectActive>.selectTitle {
    border-radius: 10px 10px 0 0;
}

.selectOption {
    z-index: 10;
    position: absolute;
    left: 0;
    /* top: 0; */
    width: calc(100% - 60px);
    padding: 0 30px;
    display: flex;
    align-items: center;
    background-color: var(--main-color-blanc-muguet);
}

.selectOption:hover {
    box-shadow: none !important;
}

.selectOption:last-of-type {
    border-radius: 0 0 10px 10px;
}

.selectInactive>.selectOption {
    animation: fadeIn 300ms ease-in;
    display: none;
}

.selectActive>.selectOption {
    animation: fadeIn 300ms ease-in;
}

/* Classic select */
.classicButton>.selectTitle {
    background-color: var(--main-color-orange-ensoleille);
}

.classicButton>.selectOption {
    color: var(--main-color-marron-bois);
    box-shadow:
        1px 0 0 0 var(--main-color-orange-ensoleille) inset,
        -1px 0 0 0 var(--main-color-orange-ensoleille) inset;
}

.classicButton>.selectOption:last-of-type {
    color: var(--main-color-marron-bois);
    box-shadow:
        1px 0 0 0 var(--main-color-orange-ensoleille) inset,
        -1px 0 0 0 var(--main-color-orange-ensoleille) inset,
        0 -1px 0 0 var(--main-color-orange-ensoleille) inset;
}

.classicButton>.selectOption:hover,
.classicButton>.selectTitle:hover {
    background-color: var(--main-color-hover-orange-ensoleille);
    color: var(--main-color-blanc-muguet);
}

/* Accept select */
.acceptButton>.selectTitle {
    background-color: var(--main-color-vert-validation);
}

.acceptButton>.selectOption {
    color: var(--main-color-marron-bois);
    box-shadow:
        1px 0 0 0 var(--main-color-vert-validation) inset,
        -1px 0 0 0 var(--main-color-vert-validation) inset;
}

.acceptButton>.selectOption:last-of-type {
    color: var(--main-color-marron-bois);
    box-shadow:
        1px 0 0 0 var(--main-color-vert-validation) inset,
        -1px 0 0 0 var(--main-color-vert-validation) inset,
        0 -1px 0 0 var(--main-color-vert-validation) inset;
}

.acceptButton>.selectOption:hover,
.acceptButton>.selectTitle:hover {
    background-color: var(--main-color-hover-vert-validation);
    color: var(--main-color-blanc-muguet);
}

/* Deny select */
.denyButton>.selectTitle {
    background-color: var(--main-color-rouge-annulation);
}

.denyButton>.selectOption {
    color: var(--main-color-marron-bois);
    box-shadow:
        1px 0 0 0 var(--main-color-rouge-annulation) inset,
        -1px 0 0 0 var(--main-color-rouge-annulation) inset;
}

.denyButton>.selectOption:last-of-type {
    color: var(--main-color-marron-bois);
    box-shadow:
        1px 0 0 0 var(--main-color-rouge-annulation) inset,
        -1px 0 0 0 var(--main-color-rouge-annulation) inset,
        0 -1px 0 0 var(--main-color-rouge-annulation) inset;
}

.denyButton>.selectOption:hover,
.denyButton>.selectTitle:hover {
    background-color: var(--main-color-hover-rouge-annulation);
    color: var(--main-color-blanc-muguet);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/****************** Checkboxes ******************/
.checkBox {
    display: flex;
    align-items: top;
    justify-content: left;
    width: fit-content;
    gap: 5px;
}

.checkBox div:first-of-type {
    margin-top: 2px;
    border-radius: 5px;
    height: 25px;
    width: 25px;
}

.checkBox div {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 3px;
}

.checkBox:hover,
.checkBox:hover label {
    cursor: pointer;
}

.checkBox label {
    font-family: "Roboto";
    color: var(--main-color-marron-bois);
}

.checkBox div:is(.checked) {
    background-color: var(--main-color-orange-ensoleille);
}

.checkBox input {
    display: none;
}

/****************** Small items *****************/
.select:is(.small) .selectTitle,
button:is(.small),
a[type="button"]:is(.small) {
    gap: 10px;
    padding: 8px 24px;
    font-size: 22px;
}

.select:is(.small) .selectTitle>label,
a[type="button"]:is(.small)>label {
    font-size: 22px;
}

.select:is(.small) .selectOption {
    font-size: 22px;
    padding-left: 24px;
    padding-right: 36px;
}

.select:is(.small) .selectTitle,
a[type="button"]:is(.small) {
    padding-right: 10px;
}

.select:is(.small) .selectTitle img,
a[type="button"]:is(.small) img {
    width: 22px;
}

